.ResultsBox {
	border: 1px solid black;
    background-color: white;
	padding: 5px;
	height: 300px;
	overflow: auto;
}

.BodyStyle {
    background-color: white;
}

.Fixed {
	font-family: "Andale Mono", monospace;
}