<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>DataLake Application</title>
    </head>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="w3c.css">
    <link rel="stylesheet" href="app.css">
    <body class="BodyStyle">
        <div ng-app="lakeApplication" ng-cloak ng-controller="lakeController" class="w3-card-2 w3-margin">
            <header class="w3-container w3-light-grey w3-padding-16">
                <h3>REST Tests - {{tstatus}}</h3>
            </header>
            <div class="ResultsBox" id="ResultsBox">
                <pre>{{results}}</pre>
            </div>
            <div class="w3-container w3-light-grey w3-padding-16 Fixed">
                <div class="w3-row w3-margin-top">
                    <button ng-click="doServiceGET('/open/clusters')" ng-disabled="working" class="w3-btn w3-padding w3-pink">Clusters Bindings</button>
                    <button ng-click="doServiceGET('/open/clusters/roles')" ng-disabled="working" class="w3-btn w3-padding w3-pink">Clusters Role</button>
                    <button ng-click="doServicePOST('/open/clusters/echo')" ng-disabled="working" class="w3-btn w3-padding w3-pink">Clusters Echo</button>
                </div>
                <div class="w3-row w3-margin-top">
                    <button ng-click="doServiceGET('/open/datalake')" ng-disabled="working" class="w3-btn w3-padding w3-teal">Datalake Bindings</button>
                    <button ng-click="doServiceGET('/open/datalake/posts')" ng-disabled="working" class="w3-btn w3-padding w3-teal">Datalake Post</button>
                    <button ng-click="doServiceGET('/open/datalake/users')" ng-disabled="working" class="w3-btn w3-padding w3-teal">Datalake User</button>
                </div>
                <div class="w3-row w3-margin-top">
                    <button ng-click="doServiceGET('/open/services')" ng-disabled="working" class="w3-btn w3-padding w3-blue">Services Bindings</button>
                    <button ng-click="doServiceGET('/open/services/list')" ng-disabled="working" class="w3-btn w3-padding w3-blue">Services List</button>
                    <button ng-click="doServiceGET('/open/services/todos')" ng-disabled="working" class="w3-btn w3-padding w3-blue">Services Todo</button>
                </div>
                <div class="w3-row w3-margin-top">
                    <button ng-click="doServiceGET('/open/redisops')" ng-disabled="working" class="w3-btn w3-padding w3-purple">RedisOps Bindings</button>
                    <button ng-click="doServiceGET('/open/redisops/data')" ng-disabled="working" class="w3-btn w3-padding w3-purple">RedisOps Data</button>
                    <button ng-click="doServicePOST('/open/redisops/save')" ng-disabled="working" class="w3-btn w3-padding w3-purple">RedisOps Save</button>
                </div>
                <div class="w3-row w3-margin-top">
                    <button ng-click="doServiceGET('/user/sessions')" ng-disabled="working" class="w3-btn w3-padding w3-red">Sessions Bindings</button>
                    <button ng-click="doServiceGET('/user/sessions/data')" ng-disabled="working" class="w3-btn w3-padding w3-red">Sessions Data</button>
                    <button ng-click="doServiceGET('/user/sessions/kill')" ng-disabled="working" class="w3-btn w3-padding w3-red">Sessions Kill</button>
                </div>
                <div class="w3-row w3-margin-top">
                    <button ng-click="doServiceGET('/user/datalake')" ng-disabled="working" class="w3-btn w3-padding w3-indigo">Datalake Bindings</button>
                    <button ng-click="doServiceGET('/user/datalake/list')" ng-disabled="working" class="w3-btn w3-padding w3-indigo">Datalake List</button>
                    <button ng-click="doServiceGET('/user/datalake/node')" ng-disabled="working" class="w3-btn w3-padding w3-indigo">Datalake Node</button>
                </div>
            </div>
        </div>
    </body>
</html>